﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<header>
    <div class="container-fluid">
        <div class="text-center">
            <div class="row">
                <div class="col-md-4 logos img-responsive "><img src="~/Content/images/logoSep.png" class="center-block" alt="Responsive image" style="max-width:60%"></div>
                <div class="col-md-4 logos">
                    <hgroup><h4>INSTITUTO NACIONAL DE MÉXICO, CAMPUS HERMOSILLO</h4> </hgroup>
                </div>
                <div class="col-md-4 logos img-responsive"><img src="~/Content/images/logoith40.png" class="center-block" alt="Responsive image" style="max-width:55%"></div>
            </div>
            <div class="row text-center">
                <hgroup><h5>INSTITUTO TECNOLÓGICO DE HERMOSILLO</h5></hgroup>
            </div>
        </div>
    </div>
</header>
<!---->
<nav role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"></a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="#">Inicio</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Acerca <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ingeniería en Sistemas Computacionales</a></li>
                        <li><a href="#">Ingeniería Informática</a></li>
                        <li><a href="#">Ingeniería Eléctrica</a></li>
                        <li><a href="#">Ingeniería Electrónica</a></li>
                        <li><a href="#">Ingeniería Industrial</a></li>
                        <li><a href="#">Ingeniería Industrial en Inglés</a></li>
                        <li><a href="#">Ingeniería Mecánica</a></li>
                        <li><a href="#">Ingeniería Mecatrónica</a></li>
                        <li><a href="#">Ingeniería Biomédica</a></li>
                        <li><a href="#">Licenciatura en Administración</a></li>
                        <li><a href="#">Departamento de Idiomas</a></li>
                    </ul>
                </li>
                <li><a href="#">Servicio</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Inicia Sesión", "Login", "Student")</li>
            </ul>
        </div>
    </div>
</nav>
<!--FinMenu-->
<!-- Inicio Modal -->
<div id="loginEstudiante" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--Fin Modal-->
<!--Slider-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/city.jpg" style="width:100%" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <p>  1</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/manos.jpg" style="width:100%" data-src="" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <p>  2</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/monea.jpg" style="width:100%" data-src="" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <p>  3</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<!---FinSlider-->
<!--Inicio Iconos Flat-->
<div class="container flaticon">
    <div class="text-center">
        <div class="row">
            <div class="col-md-4 ">
                <h3 class="tituloIcon">Comunícate</h3>
                <a href="#"><span style="color: rgba(164, 249, 255, 0.6)" class="glyphicon glyphicon-envelope fa-5x text-"></span></a>
            </div>
            <div class="col-md-4 ">
                <h3 class="tituloIcon">Solicita</h3>
                <a href="#"><span style="color: rgba(233, 255, 65, 0.9)" class="glyphicon glyphicon-folder-open fa-5x text-"></span></a>
            </div>
            <div class="col-md-4 ">
                <h3 class="tituloIcon">Agenda</h3>
                <a href="#"><span style="color:rgba(200, 44, 44, 0.8)" class="glyphicon glyphicon-calendar fa-5x"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                <h3 class="tituloIcon">Consulta</h3>
                <a href="#"><span style="color: rgba(83, 153, 200, 0.9)" class="glyphicon glyphicon-hand-up fa-5x"></span></a>
            </div>
            <div class="col-md-4 ">
                <h3 class="tituloIcon">Modifica</h3>
                <a href="#"><span style="color: rgba(58, 55, 56, 0.7)" class="glyphicon glyphicon-cog fa-5x"></span></a>
            </div>
            <div class="col-md-4 ">
                <h3 class="tituloIcon">Informa</h3>
                <a href="#"><span style="color:rgba(62, 248, 104, 0.7)" class="glyphicon glyphicon-bullhorn fa-5x"></span></a>
            </div>
        </div>
    </div>
</div>
<!--Fin Iconos Flat-->
<!---InicioFooter-->
<footer id="primerFooter">
    <hr width="100%" size="40">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h6 class"text-center">Copyright &copy; 2015</h6>
            </div>
            <div class="col-sm-2 text-left ">
                <h6 class="text-center ">Coordinación:</h6>
                <ul class="text-left">
                    <li><a href="#">Ing. en Sistemas Computacionales.</a></li>
                    <li><a href="#">Ing. Informática.</a></li>
                    <li><a href="#">Ing. Mecatrónica.</a></li>
                    <li><a href="#">Ing. Eléctrica.</a></li>
                    <li><a href="#">Ing. Electrónica.</a></li>
                    <li><a href="#">Ing. Industrial.</a></li>
                    <li><a href="#">Ing. Industrial en Inglés.</a></li>
                    <li><a href="#">Ing. en Gestión Empresarial.</a></li>
                    <li><a href="#">Ing. Biomédica.</a></li>
                    <li><a href="#">Lic. en Administración.</a></li>
                </ul>

            </div>
            <div class="col-sm-4">
                <h6 class="text-center ">Ubicación</h6>
                <p>Av.Tecnológico y Periférico Poniente S/N C.P. 83170, Colonia Sahuaro, Hermosillo Sonora, México</p>
            </div>
            <div class="col-sm-2">
                <h6 class="text-center ">Contáctanos:</h6>
                <p>Teléfonos: (01 662) 2 60 65 00</p>
                <p>www.ith.mx</p>
                <p>E-mail: jeloor92@gmail.com</p>
            </div>
            <div class="col-sm-2">
                <h6 class="text-center ">Síguenos:</h6>
                <ul class="unstyled text-center">
                    <br>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x text-primary"></i>
                                <i class="fa fa-twitter fa-stack-1x text-primary"></i>
                            </span>

                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x text-info"></i>
                                <i class="fa fa-facebook fa-stack-1x text-info"></i>
                            </span>
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x text-danger"></i>
                                <i class="fa fa-youtube fa-stack-1x text-danger"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<hr size="90" width="80%">
<footer class="text-center" id="segundoFooter">
    <p>Desarrollado por: Jesús López</p>
</footer>
<!--FinFooter-->


