﻿@model SCCC.Context.AddCourses
@{
    ViewBag.Title = "AddCourse";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<div id="wrapper col-md-12">
    <div id="page-content-wrapper">
        <!--Inicio NavBar-->
        <div class="container-fluid col-md-8>
            <div class=" row">
            <div class="col lg 12">
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navHor">
                    <!-- El logotipo y el icono que despliega el menú se agrupan
                         para mostrarlos mejor en los dispositivos móviles -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Desplegar navegación</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav"></ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userName">
                                    Número de Control: @ViewBag.Id<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Configuración</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:50px">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-8 col-md-10 col-md-offset-2 text-center" id="centralContent">
            <div class="form-group">
            </div>
            <div class="text-center">
                @using (Html.BeginForm("AddCourse", "Requests",
                    FormMethod.Post, new { @class = "col-sm-8" }))
                     {
                    @Html.AntiForgeryToken()
                    <label>Alta de Materia</label>
                    <label>ID de Solicitud: @ViewBag.Requests.RequestId</label>
                    <br />
                    <input type="hidden" name="RequestId" value="@ViewBag.Requests.RequestId" />
                    <label>Curso:</label>
                    <input type="text" class="form-control" name="Course" />
                    <br />
                    <label>Razón:</label>
                    <input type="text" class="form-control" name="Course" />
                    <br />
                    <input type="submit" value="Enviar" class="btn btn-success form-control" />
                     }
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>










