﻿@model SCCC.Context.Requests

@{
    ViewBag.Title = "Nueva Solicitud";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div id="wrapper col-md-12">
    <div id="page-content-wrapper">
        <!--Inicio NavBar-->
        <div class="container-fluid col-md-8>
            <div class="row">
                <div class="col lg 12">
                    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navHor">
                        <!-- El logotipo y el icono que despliega el menú se agrupan
                             para mostrarlos mejor en los dispositivos móviles -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Desplegar navegación</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"></a>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav"></ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userName">
                                        Número de Control: @ViewBag.Id<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Inicio</a></li>
                                        <li><a href="#">Configuración</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Cerrar Sesión</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:50px">
        <div class="row">

            <div class="col-sm-offset-4 col-sm-8 col-md-10 col-md-offset-2 text-center" id="centralContent">
                <div class="form-group">
                </div>
                <div class="text-center">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Nueva Solicitud</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @*<div class="form-group">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                            <div class="form-group">
                                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <select class="form-control" name="Type">
                                        <option value="1">Alta Materia</option>
                                        <option value="2">Baja Materia</option>
                                        <option value="3">Curso Especial </option>
                                        <option value="4">Curso de Verano</option>
                                        <option value="5">Baja de Semestre</option>
                                        <option value="6">Baja de Materia Fuera de Tiempo</option>
                                        <option value="7">Baja de Semestre Fuera de Tiempo</option>
                                        <option value="8">Justificante</option>
                                        <option value="9">Traslado</option>
                                        <option value="10">Mensaje a Coordinador</option>
                                        <option value="11">Otra Razón</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control"@*, placeholder = "Enter Quantit"*@ } })
                                    @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                @Html.LabelFor(model => model.IsDeleted, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.IsDeleted)
                                        @Html.ValidationMessageFor(model => model.IsDeleted, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>*@

                            <div class="form-group">
                                @Html.LabelFor(model => model.UserId, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Solicitar" class="btn btn-primary btn-large form-control" />
                                   <br /><br />
                                    <div>
                                        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default form-control" })
                                        @*@Html.ActionLink("Regresar", "Index")*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                   
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>

