﻿@model SCCC.Context.DeleteSemesters

@{
    ViewBag.Title = "DeleteSemesterFile";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<div id="wrapper col-md-12">
    <div id="page-content-wrapper">
        <!--Inicio NavBar-->
        <div class="container-fluid col-md-8>
            <div class=" row">
            <div class="col lg 12">
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navHor">
                    <!-- El logotipo y el icono que despliega el menú se agrupan
                         para mostrarlos mejor en los dispositivos móviles -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Desplegar navegación</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav"></ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userName">
                                    Número de Control: @ViewBag.Id<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Configuración</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:50px">
    <div class="row">

        <div class="col-sm-offset-4 col-sm-8 col-md-10 col-md-offset-2 text-center" id="centralContent">
            <div class="form-group">
            </div>
            <div class="text-center col-md-4"></div>
            <div class="text-center col-md-4">
                <label>Formato</label>
                <br />
                @Html.ActionLink("Descargar Formato de Baja de Semestre", "DeleteSemesterFileDownload")
                @using (Html.BeginForm("DeleteSemesterFileUpload",
                            "Requests",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
                {
                    <div class="text-center">
                        <br />
                        <br />
                        <label for="file">Subir Archivo:</label>
                        <br />
                        <input type="file" name="file" id="file" /><br><br>
                        <input type="submit" value="Subir Archivo" />
                        <br><br>
                    </div>
                    
                }
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>














