﻿@model SCCC.Context.DeleteSemesters

@{
    ViewBag.Title = "DeleteSemester";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<div id="wrapper col-md-12">
    <div id="page-content-wrapper">
        <!--Inicio NavBar-->
        <div class="container-fluid col-md-8>
            <div class=" row">
            <div class="col lg 12">
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navHor">
                    <!-- El logotipo y el icono que despliega el menú se agrupan
                         para mostrarlos mejor en los dispositivos móviles -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Desplegar navegación</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav"></ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userName">
                                    Número de Control: @ViewBag.Id<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Configuración</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:50px">
    <div class="row">

        <div class="col-sm-offset-4 col-sm-8 col-md-10 col-md-offset-2 text-center" id="centralContent">
            <div class="form-group">
            </div>
            <div class="text-center">
               
                @using (Html.BeginForm("DeleteSemester", "Requests",
                FormMethod.Post, new { @class = "col-sm-8" }))
                {
                    @Html.AntiForgeryToken()
                    <label>Baja de Semestre</label>
                    <label>ID de Solicitud: @ViewBag.Requests.RequestId</label>
                    <br />
                    <input type="hidden" name="RequestId" style="text-align:center;" value="@ViewBag.Requests.RequestId" />
                    <label>Semestre en Curso:</label>
                    <input type="number" class="form-control" style="text-align:center;" name="Semester" min="1" max="13" />
                    <br />
                    <label>Razón:</label>
                    <input type="text" class="form-control" style="text-align:center;" name="Details" />
                    <br />
                    <label>Tipo:</label>
                    <select class="form-control" style="text-align:center;">
                        <option value="1" name="Type">Temporal</option>
                        <option value="2" name="Type">Definitiva</option>
                    </select>
                    <br />
                    <input type="submit" value="Enviar" class="btn btn-success form-control" />
                }

                @*@Html.ActionLink("Descargar Formato de Baja", "DeleteSemesterFileDownload")
                <h2>Basic File Upload</h2>
                @using (Html.BeginForm("DeleteSemesterFileUpload",
                    "Requests",
                    FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
                {
                    <label for="file">Subir Archivo:</label>
                    <input type="file" name="file" id="file" /><br><br>
                    <input type="submit" value="Upload Image" />
                    <br><br>
                    @ViewBag.Message= "Subido con Éxito";
                }*@
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>