﻿@model SCCC.Context.Requests

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<div id="wrapper">
    <!---->
    <div id="page-content-wrapper">
        <!--Inicio NavBar-->
        <div class="container-fluid">
            <div class="row">
                <div class="col lg 12">
                    <nav class="navbar navbar-default" role="navigation" id="navHor">
                        <!-- El logotipo y el icono que despliega el menú se agrupan
                             para mostrarlos mejor en los dispositivos móviles -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Desplegar navegación</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"></a>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav"></ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userName">
                                        Número de Control: @ViewBag.Id<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Inicio</a></li>
                                        <li><a href="#">Configuración</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Cerrar Sesión</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class=" col-md-8 text-center" id="centralContent">
                <div class="form-group">
                    <h4>BIENVENIDO: @ViewBag.Name</h4>
                </div>
                <br /><br /><br />

                <div>
                    <h4>Solicitud</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Reason)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Reason)
                        </dd>

                        @*<dt>
                            @Html.DisplayNameFor(model => model.IsDeleted)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsDeleted)
                        </dd>*@

                        <dt>
                            @Html.DisplayNameFor(model => model.CreationDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreationDate)
                        </dd>

                        @*<dt>
                            @Html.DisplayNameFor(model => model.Users.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Users.Name)
                        </dd>*@

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Regresar a Solicitudes", "Index")
                </p>

                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>






