﻿@model IEnumerable<SCCC.Context.Requests>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div id="wrapper col-md-12">
    <div id="page-content-wrapper">
        <!--Inicio NavBar-->
        <div class="container-fluid col-md-8>
            <div class=" row">
            <div class="col lg 12">
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navHor">
                    <!-- El logotipo y el icono que despliega el menú se agrupan
                         para mostrarlos mejor en los dispositivos móviles -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Desplegar navegación</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav"></ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userName">
                                    Número de Control: @ViewBag.Id<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Configuración</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:50px">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-offset-4 col-sm-8 col-md-10 col-md-offset-2 text-center" id="centralContent">
            <div class="form-group">
            </div>
            <div class="text-center">
                <p>
                    @Html.ActionLink("Nueva Solicitud", "Create")
                </p>
                <table class="table table-striped text-center">
                    <tr class="active">
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Reason)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.IsDeleted)
                        </th>*@
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.CreationDate)
                        </th>
                        @*<th class="text-center">
                            @Html.DisplayNameFor(model => model.Users.Name)
                        </th>*@
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reason)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.IsDeleted)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Users.Name)
                            </td>*@
                            <td>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.RequestId }) |*@
                                @Html.ActionLink("Detalles", "Details", new { id = item.RequestId }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.RequestId })
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>





