﻿@model SCCC.Context.Proofs
@{
    ViewBag.Title = "Justificante";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<h2>Justificante</h2>
@using (Html.BeginForm("Justificante", "Requests",
            FormMethod.Post, new { @class = "col-sm-8" }))
{
    @Html.AntiForgeryToken()
    <label>@ViewBag.Requests.RequestId</label>
    <input type="hidden" name="RequestId" value="@ViewBag.Requests.RequestId"/>

    <input type="hidden" name="ProofDocuments[0].ProofDocumentId" value="1" />
    <input type="hidden" name="ProofDocuments[0].DocumentCode" value="asdasd" />
    <input type="hidden" name="ProofDocuments[0].ProofId" value="2" />

    <input type="hidden" name="ProofDocuments[1].ProofDocumentId" value="11" />
    <input type="hidden" name="ProofDocuments[1].DocumentCode" value="asasd21dasd" />
    <input type="hidden" name="ProofDocuments[1].ProofId" value="22" />

    <input type="datetime-local" class="form-control" name="StarDate"/>
    <input type="datetime-local" class="form-control" name="EndDate" />
    
    
    <input type="submit" value="Enviar" class="btn btn-success form-control" />
}
