﻿<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <meta charset="utf-8">
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/estudiante.css" rel="stylesheet" />
        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/estudiante.css">*@
        @RenderSection("head", required: false)
    </head>
    <body>
    <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="margin-top:50px">

        <img class="img-responsive center-block logos" src="~/Content/images/logoith.ico" alt="">
        <p></p>
        <ul class="sidebar-nav ">
            <li class="sidebar-brand ">
                <a href="#">
                </a>
            </li>
            <li>@Html.ActionLink("Mis Solicitudes","Index","Requests", new { id = ViewBag.Id},null)</li>
            <li>@Html.ActionLink("Mis Solicitudes", "Create", "Requests", new { id = ViewBag.Id }, null)</li>
            <li><a href="#">Configuración <span class="caret" aria-hidden="true"></span></a></li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    @*<div id="page-content-wrapper">
        <!--Inicio NavBar-->
        <div class="container-fluid">
            <div class="row">
                <div class="col lg 12">
                    <nav class="navbar navbar-default" role="navigation" id="navHor">
                        <!-- El logotipo y el icono que despliega el menú se agrupan
                             para mostrarlos mejor en los dispositivos móviles -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Desplegar navegación</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"></a>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav"></ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userName">
                                        Nombre de Usuario <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Inicio</a></li>
                                        <li><a href="#">Configuración</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Cerrar Sesión</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>*@
    <!-- /#page-content-wrapper -->
            
            @*<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class=" col-md-6 text-center" id="centralContent">
                        <div class="form-group">
                            <button class="btn btn-success" id="menu-toggle">Menú</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>*@



</div>
        @RenderBody()

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>*@
<script src="~/Scripts/func.js"></script>
<!--<script type="text/javascript" src="scripts/app.js"></script>-->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
    </body>
</html>
