﻿*{
 	margin: 0px;
	padding: 0px;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	
	
}
.logos{
	margin-top: 25px !important;
}


.navbar{
	border-radius: 0px;
	background: none !important; 
  	border: 1 !important;
  	margin: 0px !important;
	padding: 0px !important;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important; 
}




.tituloIcon{
	margin-top: 70px !important;
    color:darkgrey;
}


/*Footer*/
footer{
    font-size: 11px;
    padding: 20px;
    font-weight: bold;
}

.unstyled
{
    list-style: none;
    padding: 0px;
}
#primerFooter{
	margin-top: 30px !important;
}



/*Login*/
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }

}



@media screen and  (max-width: 768px){


#logosep {
  display: none !important;
}   
#logo40
{
    display: none !important;
}

#titulos
{
    margin-bottom: 0px !important;
}
}

