﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<div id="wrapper">
    <!---->
    <div id="page-content-wrapper">
        <!--Inicio NavBar-->
        <div class="container-fluid">
            <div class="row">
                <div class="col lg 12">
                    <nav class="navbar navbar-default" role="navigation" id="navHor">
                        <!-- El logotipo y el icono que despliega el menú se agrupan
                             para mostrarlos mejor en los dispositivos móviles -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Desplegar navegación</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"></a>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav"></ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userName">
                                        Número de Control: @ViewBag.Id<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Inicio</a></li>
                                        <li><a href="#">Configuración</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Cerrar Sesión</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class=" col-md-8 text-center" id="centralContent">
                <div class="form-group">
                    <h4>BIENVENIDO: @ViewBag.Name</h4>
                </div>
                <br /><br /><br />
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-3">
                            <h5 class="tituloIcon">Nueva Solicitud</h5>
                            <a href="#"><span style="color: rgba(77, 173, 61, 0.5)" class="glyphicon glyphicon-file fa-3x text-"></span></a>
                        </div>
                        <div class="col-md-3">
                            <h5 class="tituloIcon">Mis Solicitudes</h5>
                            <a href="#"><span style="color:rgba(77, 173, 61, 0.5)" class="glyphicon  glyphicon-folder-open fa-3x text-"></span></a>
                        </div>
                        <div class="col-md-3">
                            <h5 class="tituloIcon">Mensajes</h5>
                            <a href="#"><span style="color: rgba(77, 173, 61, 0.5);" class="glyphicon glyphicon-envelope fa-3x text-"></span></a>
                        </div>
                        <div class="col-md-3">
                            <h5 class="tituloIcon">Configuración</h5>
                            <a href="#"><span style="color:rgba(77, 173, 61, 0.5);" class="glyphicon glyphicon-cog fa-3x text-"></span></a>
                        </div>
                    </div>

                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>


